@import url(/css/normalize.css);

/* Font Face Replacement */

/* Start General Styling  */
body{
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}
a{
    color: #ff0000;
}

#wrapper {
    float: left;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    background: #dddddd;
}
#masthead{
    width: 100%;
    background: #999999;
    color: #333333;
    margin: -1em -1em 1em -1em;
    padding: 1em;
}
#userName{
    font-weight: 800;
    margin-bottom: -2em;
}
#nameInput{
    margin-left: 12em; 
}
#title{
    font-size: 4em;
    font-weight: 800;
    margin-bottom: -.25em;
    margin-top: -.1em;
}
#credit{
    font-size: smaller;
    margin-bottom: 2em;
}
#description{
    margin-bottom: 1em;
    padding-right: 1em;
}
#influenceData {
    width: 30%;
    float: left;
}

#accordion h3{
    background: #454545;
    margin: 1px auto;
    border-bottom: solid 1px #232323;
    border-top: : solid 1px #bbbbbb;
    padding: .3em;
    border-radius: 2px;
}
#accordion h3 a{
    color: #ffffff;
    margin-left: 1em;
    text-decoration: none;
}
#influenceDisplay {
    width: 60%;
    float: left;
}
input{
    color: #888888;
}
/* Image Layout Styling  */
.imageBox {
    margin: 1em;
    background-color: #000000;
    display: inline-block;
    border-radius: 4px; /* future proofing */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.largestImage{
    width: 9em;
    height: 9em;
}
.largeImage{
    width: 6em;
    height: 6em;       
}
.regularImage{
    width: 6em;
    height: 3em;       
}
.smallImage{
    width: 3em;
    height: 3em;       
}
